- @page_title = "キャラクター名一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td.indent
        %td= f.label :pc_name_form, 'キャラクター名'
        %td.formText= text_field_tag :name_form, @name_form
      %tr
        %td= f.label :nickname_form, '愛称'
        %td.formText= text_field_tag :nickname_form, @nickname_form
      %tr
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@names)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :nickname, '愛称', default_order: :desc)
      %th{colspan: "2"} 結果リンク
  %tbody
    - @names.each do |name|
      %tr
        %td= name.result_no
        %td= pc_name_text(name.e_no, name)
        %td= name.nickname
        %td= character_link(name.e_no)
        %td= character_old_link(@last_result, name.e_no, name.result_no, name.generate_no)
= paginate(@names)
