- @page_title = "戦果推移グラフ"
%h1= @page_title

.card.desc
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url: transition_graphs_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td  
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number", colspan: 3)
      %tr
        %td
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "愛称", params_name: "nickname_form", placeholder: "Name")

      %tr
        %td  
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "ブロック番号", params_name: "block_no_form", colspan: 3)

    - #==========================================================================================================================
    %tbody
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

%h3 攻撃戦果
= line_chart Transition.data_type(1).search_result(params).to_transition_graph(params), xtitle:"ターン", ytitle:"％", height: "600px", library: @library_param
%br
%h3 支援戦果
= line_chart Transition.data_type(2).search_result(params).to_transition_graph(params), xtitle:"ターン", ytitle:"％", height: "600px", library: @library_param
%br
%h3 防衛戦果
= line_chart Transition.data_type(3).search_result(params).to_transition_graph(params), xtitle:"ターン", ytitle:"％", height: "600px", library: @library_param
%br
%h3 売上
= line_chart Transition.data_type(4).search_result(params).to_transition_graph(params), xtitle:"ターン", ytitle:"money", height: "600px", library: @library_param
%br
%h3 捕虜
= line_chart Transition.data_type(5).search_result(params).to_transition_graph(params), xtitle:"ターン", ytitle:"人", height: "600px", library: @library_param
%br
