- @page_title = "戦果推移一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum{colspan: "3"}= text_field_tag :e_no_form, @e_no_form
      %tr
        %td.indent
        %td= f.label :pc_name_form, 'キャラクター名'
        %td.formText= text_field_tag :pc_name_form, @pc_name_form
        %td= f.label :nickname_form, '愛称'
        %td.formText= text_field_tag :nickname_form, @nickname_form
      %tr.sep
        %td  
        %td= f.label :block_no_form, 'ブロック番号'
        %td.formNum{colspan: "3"}= text_field_tag :block_no_form, @block_no_form
      %tr
        %td  
        %td= f.label :act_form, '○行動目'
        %td.formNum{colspan: "3"}= text_field_tag :act_form, @act_form
      %tr.sep
        %td
        %td= f.label :data_type_form, '種別'
        %td{:colspan => "3"}
          = check_box_tag :type_attack, @type_attack, @type_attack
          = label_tag :type_attack, '攻撃戦果'
          　
          = check_box_tag :type_support, @type_support, @type_support
          = label_tag :type_support, '支援戦果'
          　
          = check_box_tag :type_defense, @type_defense, @type_defense
          = label_tag :type_defense, '防衛戦果'
      %tr
        %td  
        %td= f.label :value_form, '値'
        %td.formNum{colspan: "3"}= text_field_tag :value_form, @value_form
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@transitions)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th.sep= sort_link(@search, :block_no, 'ブロック', default_order: :desc)
      %th= sort_link(@search, :turn, 'ターン', default_order: :desc)
      %th= sort_link(@search, :act, '行動', default_order: :desc)
      %th.sep= sort_link(@search, :data_type, '種別', default_order: :desc)
      %th= sort_link(@search, :value, '値', default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
      %th{colspan: "2"} 戦闘機動リンク
  %tbody
    - @transitions.each do |transition|
      %tr
        %td= transition.result_no
        %td= pc_name_text(transition.e_no, transition.pc_name)
        %td.sep= transition.block_no
        %td= transition.turn.to_s(:jp_time)
        %td= transition.act
        %td.sep= @data_type[transition.data_type]
        %td= transition.value
        %td.sep= character_link(transition.e_no)
        %td= character_old_link(@latest_result, transition.e_no, transition.result_no, transition.generate_no)
        %td= act_link(@latest_result, transition.result_no, transition.generate_no, transition.block_no, transition.act, transition.e_no, )
        %td= act_old_link(@latest_result, transition.result_no, transition.generate_no, transition.block_no, transition.act, transition.e_no, )
= paginate(@transitions)
