%h1 ゼロ城試遊会データ小屋
%p
  このサイトでは
  %a{:href => "http://blacktea.sakura.ne.jp/teaconvini/", :target => "_blank"} ゼロの城砦
  を解析して得られる情報を扱っています。
  %br
  データ更新は本家の圧縮結果が公開されてから行います。
%br
%p 
  第#{top_result_no(@last_result, @last_generate)}更新結果まで反映済です。

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "アイテム一覧", items_path
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "城塞データ一覧", specs_path
            %br
            %li= link_to "精算一覧", rewards_path
            %li= link_to "精算グラフ", reward_graphs_path
            %br
            %li= link_to "メガアセンブル一覧", mega_assembles_path
      .col-md-6
        %ul
          %li 結果データ
          %ul  
            %li= link_to "マーケット一覧", markets_path
            %br
            %li= link_to "戦場別戦果一覧", blocks_path
            %li= link_to "次回組み合わせ一覧", next_battles_path
            %br
            %li= link_to "戦果推移一覧", transitions_path
            %li= link_to "戦果推移グラフ", transition_graphs_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2018/11/13
      %ul
        %li サイト公開
