- @page_title = "マーケット一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "アイテム名", params_name: "name_form", placeholder: "Item")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_1",
                    label: {open: "基礎情報を表示する", close: "基礎情報を非表示にする"},
                    act_desc: "種別、元の名前、強度、資産投入、装備", base_first: true)
    %tbody
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "カルマ構成", params_name: "kind_form", colspan: 3, 
                    checkboxes: [{label: "徳", params_name: "type_profit", class_name: "after_space"},
                                 {label: "カルマ", params_name: "type_karma", class_name: "after_space mobile_br"},
                                 {label: "虚空", params_name: "type_air", class_name: "after_space"},
                                 {label: "シュラ", params_name: "type_syura"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "属性構成", params_name: "kind_form", colspan: 3, 
                    checkboxes: [{label: "物理", params_name: "type_physics", class_name: "after_space"},
                                 {label: "冷気", params_name: "type_cold", class_name: "after_space"},
                                 {label: "聖魔", params_name: "type_seima", class_name: "after_space mobile_br"},
                                 {label: "電撃", params_name: "type_electric", class_name: "after_space"},
                                 {label: "火炎", params_name: "type_flame", class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "種別構成", params_name: "kind_form", colspan: 3, 
                    checkboxes: [{label: "護衛", params_name: "type_guard", class_name: "after_space"},
                                 {label: "罠", params_name: "type_trap", class_name: "after_space"},
                                 {label: "建築", params_name: "type_architecture", class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "元の名前", params_name: "orig_name_form", placeholder: "OrigName", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "強度", params_name: "strength_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "資産投入", params_name: "charge_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_detail_2",
                    label: {open: "詳細その1を表示する", close: "詳細その1を非表示にする"},
                    act_desc: "価格、侵攻速度、エンカウント、機巧技術、好感度、知性、追加効果", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "価格", params_name: "value_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "侵攻速度", params_name: "invation_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "エンカウント", params_name: "encount_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "機巧技術", params_name: "technic_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "好感度", params_name: "goodwill_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "知性", params_name: "intelligence_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "追加効果", params_name: "add_effect_form", placeholder: "AddEffect", colspan: 3)

    - #==========================================================================================================================
    %tbody
      %tr
        %td.indent
        %td.indent
          = hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@markets)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th.sep= sort_link(@search, :market_no, 'No', default_order: :desc)
      %th= sort_link(@search, :name, 'アイテム名', default_order: :desc)
      - if @form_params["show_detail_1"] == "1"
        %th.sep= sort_link(@search, :kind, '種別', default_order: :desc)
        %th= sort_link(@search, :orig_name, '元の名前', default_order: :desc)
        %th.sep= sort_link(@search, :strength, '強度', default_order: :desc)
        %th= sort_link(@search, :charge, '資産投入', default_order: :desc)
      - if @form_params["show_detail_2"] == "1"
        %th.sep= sort_link(@search, :value, '価格', default_order: :desc)
        %th= sort_link(@search, :invation, '侵攻速度', default_order: :desc)
        %th= sort_link(@search, :encount, 'エンカウント', default_order: :desc)
        %th= sort_link(@search, :technic, '機巧技術', default_order: :desc)
        %th= sort_link(@search, :goodwill, '好感度', default_order: :desc)
        %th= sort_link(@search, :intelligence, '知性', default_order: :desc)
        %th= sort_link(@search, :add_effect_id, '追加効果', default_order: :desc)
      %th{colspan: "2"} 結果リンク
  %tbody
    - @markets.each do |market|
      %tr
        %td= market.result_no
        %td= pc_name_text(market.e_no, market.pc_name)
        %td.sep= market.market_no
        %td= market.name
        - if @form_params["show_detail_1"] == "1"
          %td.sep= market.kind.name if market.kind
          %td= market.orig.name if market.orig
          %td.sep= market.strength
          %td= market.charge
        - if @form_params["show_detail_2"] == "1"
          %td.sep= market.value
          %td= market.invation
          %td= market.encount
          %td= market.technic
          %td= market.goodwill
          %td= market.intelligence
          %td= market.add_effect.name if market.add_effect
        %td= character_link(market.e_no)
        %td= character_old_link(@latest_result, market.e_no, market.result_no, market.generate_no)
= paginate(@markets)
