- @page_title = "一覧"
%h1= @page_title

.card.desc
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :pc_name_form, 'キャラクター名'
        %td.formText= text_field_tag :pc_name_form, @pc_name_form
      %tr
        %td  
        %td= f.label :proper_id_form, 'Proper'
        %td.formNum= text_field_tag :proper_id_form, @proper_id_form
      %tr
        %td  
        %td= f.label :name_form, 'Name'
        %td.formNum= text_field_tag :name_form, @name_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@proper_names)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :proper_id, 'Proper', default_order: :desc)
      %th= sort_link(@search, :name, 'Name', default_order: :desc)
      %th{colspan: "2"} 結果リンク
  %tbody
    - @proper_names.each do |proper_name|
      %tr
        %td= proper_name.result_no
        %td= pc_name_text(proper_name.e_no, proper_name.pc_name)
        %td= proper_name.proper_id
        %td= proper_name.name
        %td= character_link(proper_name.e_no)
        %td= character_old_link(@last_result, proper_name.e_no, proper_name.result_no, proper_name.generate_no)
= paginate(@proper_names)
