- @page_title = "固有名詞一覧"
%h1= @page_title

.card.desc
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :proper_id_form, 'ID'
        %td.formNum= text_field_tag :proper_id_form, @proper_id_form
      %tr
        %td  
        %td= f.label :name_form, '固有名詞'
        %td.formText= text_field_tag :name_form, @name_form
      %tr
        %td  
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@proper_names)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :proper_id, 'ID', default_order: :desc)
      %th= sort_link(@search, :name, '固有名詞', default_order: :desc)
  %tbody
    - @proper_names.each do |proper_name|
      %tr
        %td= proper_name.proper_id
        %td= proper_name.name
= paginate(@proper_names)
