!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css", media: "all"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light.navbar-custom.p-0
      .container
        = link_to "第2回ゼロ城試遊会データ小屋", root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {bs: {toggle: "collapse", target: "#navbarNavDropdown"}}, area: {controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                個人データ
                %span.caret
              .dropdown-menu
                = link_to "アイテム一覧", items_path, class: "dropdown-item"
                = link_to "ステータス一覧", statuses_path, class: "dropdown-item"
                = link_to "城塞データ一覧", specs_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "精算一覧", rewards_path, class: "dropdown-item"
                = link_to "精算グラフ", reward_graphs_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "メガアセンブル一覧", mega_assembles_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                結果データ
                %span.caret
              .dropdown-menu
                = link_to "マーケット一覧", markets_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "戦場別戦果一覧", blocks_path, class: "dropdown-item"
                = link_to "次回組み合わせ一覧", next_battles_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "戦果推移一覧", transitions_path, class: "dropdown-item"
                = link_to "戦果推移グラフ", transition_graphs_path, class: "dropdown-item"

    .container
      .bs-docs-section.clearfix
        .row
          .col-md-12
            = yield
      
        %footer
          %p
            Twitter：#{link_to "@data_teiki", "http://twitter.com/data_teiki"}
            %br
            制作：#{link_to "@white_mns", "http://twitter.com/white_mns"}
            %br
            = link_to "プライバシーポリシー", top_page_privacy_path
            %br
            ソースコード [#{link_to "解析部分", "https://github.com/white-mns/zero_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/zero_rails"}]
          %br
          #{link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"}
        = render 'layouts/analytics'
